#ifndef SALON_TABLE_COMMON_SECRETS_H
#define SALON_TABLE_COMMON_SECRETS_H

#define HOSTNAME "table-salon"

// WiFi
#define WIFI_SSID "customer-wifi"
#define WIFI_PASS "wifi-password"

// OTA
#define OTA_PASSWORD "superpassword"

#endif //SALON_TABLE_COMMON_SECRETS_H